@import url("https://fonts.googleapis.com/css2?family=Khand&display=swap");
.t1{
    color: #fff;
    font-family: Khand;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 8.67%;
    padding-top: 3%;
    margin: 0;
}
.link{
    color: rgb(16, 245, 16);
    background-color: transparent;
    text-decoration: none;
}
.link:hover{
    color: rgb(0, 255, 128);
    text-decoration: underline;
}
.img1{
    width: 65%;
    padding-top: 3%;
    padding-left: 10%
}